@charset "UTF-8";
/* CSS Document */


#wrapper {
	margin: 5% auto;
	padding: 5rem 3%;
	width: 84%;
}

.appContainer {
	float: none;
	width: 100%;
}

.appContainer img {
	width: 33%;
}

.left {
	margin: 0;
}

.right {
	margin: 0;
}