{% extends "base.html" %}

{% block title %}{{ doc_title }} - AppSimple{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/assets/css/pages/doc.css" />
{% endblock %}

{% block content %}
<div class="doc-page">
    <div class="doc-header">
        <a href="/" class="doc-back">&larr; Back</a>
        <h1 class="doc-title">{{ doc_title }}</h1>
    </div>
    <div class="doc-body" id="doc-body">
        <em>Loading...</em>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/assets/js/chat-ui.js"></script>
<script>
(function() {
    var API_BASE = 'https://chuckfinca-appsimple-assistant.hf.space';
    var filename = '{{ doc_filename }}';

    callApi(API_BASE, 'doc', filename).then(function(data) {
        if (data.error) {
            document.getElementById('doc-body').innerHTML = 'Document not found.';
            return;
        }
        document.getElementById('doc-body').innerHTML = markdownToHtml(data.content);
    }).catch(function() {
        document.getElementById('doc-body').innerHTML = 'Could not load document.';
    });
})();
</script>
{% endblock %}
