.appIntroContainer {
	overflow: auto;
	padding: 0;
}

#video {
	margin-bottom: 2rem;
	width: 100%;
}
#introContainer {
	margin-left: 0;
	width: 100%;
	padding: 0;
}

#introText {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 0rem;
}

#introContainer .storeLinks {
	float: none;
}

.line {
	width: 30%;
	padding: 1.2rem 0;
}

#mainImage {
	max-width: 25rem;
	display:block;
	margin:auto;
}

#icon {
	width: 10%;
}

#screenShotsContainer {
	overflow: auto;
	margin: 0 4% 4rem 4%;
	padding: 0;
}

.screenShotContainer {
	margin: 0 2% 2rem 2%;
	width: 45%;
}

.screenShot{
	max-width: 100%;
}